* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
}

.tela1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 8;
    background-color: #FB6B6B;
}

.tela1 img {
    margin-top: 100px;
    margin-bottom: 5px;
    width: 136px;
    height: 161px;
}

.tela1 h1 {
    font-size: 36px;
    line-height: 45px;
    margin-top: 20px;
}

.tela1 buttom {
    width: 246px;
    height: 54px;
    font-family: 'Recursive', sans-serif;
    color: #D70900;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 16px 22px 16px 22px;
    margin-top: 40px;
    margin-bottom: 87px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 40px;
    z-index: 1;
    background-color: #FB6B6B;
}

header img {
    width: 52px;
    height: 60px;
    margin-top: 42px;
    margin-right: 15px;
}

header h1 {
    margin-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    margin-left: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 153px;
    margin-bottom: 244px;
    overflow-y: hidden;
}

.pergunta {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 23px 22px 23px 15px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.pergunta p {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Recursive', sans-serif;
}

ion-icon {
    width: 20px;
    height: 23px;
    color: #333333;
    font-weight: bold;
}

.questao {
    width: 299px;
    height: 131px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    position: relative;
}

.questao p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.questao img {
    width: 30px;
    height: 20px;
    color: #333333;
    margin-top: 10px;
    margin-left: 150px;
    position: absolute;
    top: 95px;
    right: 15px;
    bottom: 6px;
}

.resposta {
    font-family: 'Recursive';
    width: 299px;
    height: 131px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 18px 15px 6px 15px;
    position: relative;
}

.resposta p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;

}

.resposta .zapMemory {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 13px;
    right: 13px;
    bottom: 6px;
}

.resposta .zapMemory .nao-lembrei {
    width: 85.17px;
    height: 37.17px;
    background: #FF3030;
    border-radius: 5px;
    padding-top: 14px;
    text-align: center;
}

.resposta .zapMemory .quase-lembrei {
    width: 85.17px;
    height: 37.17px;
    background-color: #FF922E;
    border-radius: 5px;
    padding-top: 7px;
    text-align: center;
}

.resposta .zapMemory .zap {
    width: 85.17px;
    height: 37.17px;
    background-color: #2FBE34;
    border-radius: 5px;
    padding-top: 14px;
    text-align: center;
}

.resposta-concluida {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 23px 15px 23px 15px;
    margin-bottom: 25px;
}

.resposta-concluida p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Recursive', sans-serif;
}

.resposta-concluida.red p {
    color: #FF3030;
    text-decoration: line-through #FF3030;
}

.resposta-concluida.orange p {
    color: #FF922E;
    text-decoration: line-through #FF922E;
}

.resposta-concluida.green p {
    color: #2FBE34;
    text-decoration: line-through #2FBE34;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 9px;
}

footer img {
    width: 23px;
    height: 23px;
}

footer .icones-selecionados {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
}

footer .icones-selecionados img {
    margin-left: 5px;
}

footer .msg-final {
    margin-top: 16px;
}

footer .msg-final .parabens {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .msg-final .parabens p {
    margin-left: 5px;
    margin-top: -3px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

footer .msg-final .msg-parabens {
    width: 222px;
    height: 44px;
    margin-top: 14px;
    margin-bottom: 14px;
}


footer .msg-final .msg-putz {
    width: 222px;
    height: 44px;
    margin-top: 14px;
    margin-bottom: 14px;
}

@media (min-width: 935px) {
    header img {
        width: 86.96px;
        height: 100px;
        margin-top: 82px;
        margin-right: 15px;
    }

    header h1 {
        font-size: 64px;
        list-style: 79px;
        margin-top: 100.57;
    }

    main {
        margin-top: 292px;
    }

    .pergunta {
        width: 567.12px;
        height: 91.74px;
    }

    .pergunta p {
        font-size: 24px;
        line-height: 29px;
    }

    ion-icon {
        width: 31.69px;
        height: 36.7px;
    }

    .questao {
        width: 567.12px;
        height: 268.12px;
    }

    .questao p {
        font-size: 26px;
        line-height: 32px;
    }

    .questao img {
        top: 220px;
    }

    .resposta {
        width: 567.12px;
        height: 268.12px;
    }

    .resposta p {
        font-size: 26px;
        line-height: 32px;
    }

    .resposta-concluida {
        width: 567.12px;
        height: 91.74px;
    }

    .resposta-concluida p {
        font-size: 24px;
        line-height: 29px;
    }

    .resposta .zapMemory {
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
    }

    .resposta .zapMemory .nao-lembrei {
        width: 160px;
        height: 80px;
        padding-top: 30px;
    }

    .resposta .zapMemory .quase-lembrei {
        width: 160px;
        height: 80px;
        padding-top: 20px;
    }

    .resposta .zapMemory .zap {
        width: 160px;
        height: 80px;
        padding-top: 30px;
    }

    .resposta-concluida p {
        font-size: 24px;
        line-height: 29px;
    }

    .resposta-concluida img {
        width: 30px;
        height: 30px;
    }

    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    footer p {
        font-size: 32px;
        line-height: 38px;
    }

    footer .icones-selecionados img{
        width: 28px;
        height: 28px;
        margin-left: 7px;
    }

    footer .msg-final .parabens p {
        font-size: 26px;
        line-height: 32px;
    }

    footer .msg-final .msg-putz {
        width: 422px;
        margin-bottom: 10px;
    }

    footer .msg-final .msg-parabens {
        width: 422px;
        margin-bottom: 10px;
    }

    footer .concluidos {
        margin-top: 50px;
    }
}